/* about.css */
@font-face {
    font-family: 'Aboreto';
    src: url('../fonts/Aboreto/Aboreto-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Abel';
    src: url('../fonts/Abel/Abel-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

:root {
    --ffff-ffff: rgb(1, 1, 1);
}

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /*margin: 0; these 0ed out cause spacing w/ dialog overlay */
    /* padding: 0; */
    /* box-sizing: border-box; */
}

html, body {
    margin: 0;
    padding: 0;
    background: rgba(240, 233, 221, 1);
    font-size: 16px;
    /* background: #eff6ff; */
}


/* MAIN/WRAP */
#about-main-body {
    display: flex;
    flex-direction: column;
    /* height: 100%; */
    /* box-sizing: border-box; */
}


/* ABOUT TOP LANDING */
#landing-wrap {
    background-image: url('../images/dylan-rwags-view.jpeg');
    background-size: cover; 
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    background-position: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100vh;
    width: 100%;
}

.about-top-sub-cont {
    max-width: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
}


.about-top-sub-cont > h2 {
    color: white;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-family: 'Aboreto';
    font-size: 63px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
}

.about-top-sub-cont > p {
    font-size: 20px;
    margin: 0;
    /* color:rgba(219, 153, 36, 1); */
    color: rgba(234, 179, 8, .9);
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: 'Abel';
    /* border: 1px solid green; */
}


/* HEADER */
.top-main {
    position: absolute;
    width: 100vw;
    height: auto;
    padding-top: 10px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    /* border: 1px solid red; */
    /* background-color: rgba(219, 153, 36, .3); */
}

.header-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    gap: 5px;

    list-style-type: none;
    margin: 0;
    padding: 0;
}

.head-link-item {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
   
    padding: 8px 8px;
    margin: 0;
    height: min-content;
    /* links should be dark blue, with a yellow hover. font should be mild bold. */
};

.head-logo {
    text-decoration: none;
    color: inherit;
}

.head-link-item > a,
#nav-srvc-menu a {
    box-sizing: border-box;
    text-decoration: none;
 }

.head-link-item > .unselected,
.head-link-item.unselected {
    color: rgba(1, 36, 86, 1);
    font-size: 20px;
}

.head-link-item > .unselected:hover,
.head-link-item > .unselected:active {
    color: rgba(219, 153, 36, 1);
}

.head-logo {
    background-image: url('../images/rwags-logo.png');
    background-size: contain; /* or contain? */
    background-repeat: no-repeat;
    position: relative;
    width: 150px;
    height: 99px;
}

.head-logo a {
    position: absolute;  /* Positioning the link within the container */
    top: 0;
    left: 0;
    width: 100%; /* Ensures the link covers the full container */
    height: 100%;
    z-index: 10;
}


/* HEADER: SELECTED PAGE LINK */
.selected-link {
    color: rgba(219, 153, 36, 1);
    font-size: 23px;
    /* background: rgba(1, 36, 86, .3); */
    /* background: rgba(14, 165, 233, .4); */
    border-radius: 4px;
}

/* DROPDOWN MENU */
#dropdown-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    box-sizing: border-box;
    width: 200px;
    height: auto;
    background: rgba(1, 36, 86, .9);
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    /* transition: opacity 0.4s ease, transform 0.4s ease; /* Transition effects */
    /* transform: translateY(-10px); Initial transform state */
    z-index: 2;
}

#dropdown-menu > a {
    box-sizing: border-box;
    text-decoration: none;
    padding: 7px;
    color: white;
    z-index: 10;
}

#dropdown-menu > a:hover {
    box-sizing: border-box;
    text-decoration: none;
    color: rgba(219, 153, 36, 1);
}

#dropdown-menu span {
    box-sizing: border-box;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
}

/* MOBILE MENU */
.mobile-header {
    display: none;
    flex-direction: row;
}

.mobile-btn-wrap {
    position: fixed;
    top: 15px;
    left: 15px;

    box-sizing: border-box;
    padding: 0;
    margin: 0;
    z-index: 20;
}

#mobile-nav-btn {
    display: inline-flex;
    align-items: center;  
    justify-content: center;
    padding: 0; 
    width: 35px; 
    height: 35px; 
    border: 1px solid black;
    border-radius: 5px;
    background: rgba(14, 165, 233, .9);
    fill: rgba(234, 179, 8, 1);
    cursor: pointer;
}

/* nav overlay dialog menu */
#mobile-dialog {
    display: none;
    position: fixed; /* Position fixed to cover the whole screen  */
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(1, 36, 86, 0.4);
    backdrop-filter: blur(7px);
    z-index: 1000;
    border: none;
    outline: none;
}

#mobile-dialog > nav {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    /* border: 1px solid red; */
    position: relative;
}

.nav-cls-btn-wrp {
    position: absolute;
    box-sizing: border-box;
    top: 10px;
    right: 10px;
    display: flex;
    justify-content: end;
    /* border: 1px solid pink; */
    /* padding: 3px; */
    width: 100%;
}

.dialog-lnks-wrap {
    /* border: 1px solid black; */
    min-height: 300px;
}

.dialog-lnks-wrap > ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-close-btn {
    display: inline-flex; /* Use flex to center SVG */
    align-items: center;   /* Center vertically */
    justify-content: center; /* Center horizontally */
    padding: 0; /* Remove default padding */
    width: 35px; /* Set desired width */
    height: 35px; /* Set desired height */
    border: 1px solid white;
    border-radius: 5px;
    fill: white;
    background: rgba(1, 1, 1, .4);
    cursor: pointer; /* Change cursor to pointer */
}

.dialog-lnks-wrap .head-link-item > .unselected,
.dialog-lnks-wrap .head-link-item.unselected {
    /* color: rgba(1, 36, 86, 1); */
    color: white;
    font-size: 28px;
    cursor: pointer;
}

.dialog-lnks-wrap .head-link-item > .unselected:hover,
.dialog-lnks-wrap .head-link-item > .unselected:active,
#nav-srvc-menu .unselected:active {
    color: rgba(219, 153, 36, 1);
    font-size: 28px;
}

.dialog-lnks-wrap .head-link-item > .selected-link {
    color: rgba(219, 153, 36, 1);
    font-size: 28px;
    background: inherit;
}

#nav-srvc-menu {
    display: none;
    width: 70%;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    padding-top: 7px;
    padding-bottom: 7px;
    /* border: 1px solid black; */
}

#nav-srvc-menu a {
    color: rgba(219, 153, 36, 1);
    /* background: rgba(1, 36, 86, .3); */
    background: rgba(14, 165, 233, .4);
    border-radius: 5px;
    padding: 4px 10px;
}


/* ABOUT INFO */
.about-cont-wrap {
    /* border: 1px solid green; */
}

section > .about-cont-wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    min-height: 550px; /* ADJUST THIS LATER with more content  */
    max-height: max-content;
    min-width: 550px;
    max-width: 100%;

    gap: 25px;
    padding-top: 40px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 30px;
}

.content-left-wrap {
    max-width: 375px;
    /* padding-right: 20px; */
    /* border: 1px solid red; */
}
.content-left-wrap > h2 {
    /* color: rgba(16, 28, 86, 1); */
    color: #1d4ed8;
}

.content-left-wrap > h2,
.content-left-wrap > p {
    padding-top: 0;
    margin: 0;
}

.content-left-wrap > p {
    padding-top: 10px;
    font-weight: 500;
    color: rgba(16, 28, 86, .7);
}


/* IMG / slider section */
.but-img-mast-wrap {
    box-sizing: border-box;
    /* border: 1px solid purple;   */
    height: max-content;  
    width: 350px;
    position: relative;
}

.img-slider-wrap {
    box-sizing: border-box;
    height: 468px;
    width: 350px;
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    overflow: hidden;
}

#img-content {
    box-sizing: border-box;
    height: 468px;
    
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* img spec props */
.img-cont {
    box-sizing: border-box;
    height: 468px;
    width: 350px;
    z-index: 0;
}

#img-1 {
    background-image: url('../images/about0us-clean0img.png');
    /* background-size: cover; */
    background-size: contain;
    background-repeat: no-repeat;
    /* background-position: center; */
}

#img-2 {
    background-image: url('../images/dylan_photo.jpg');
    background-size: contain;
    background-repeat: no-repeat;
}

#img-3 {
    background-image: url('../images/dylan-windwgut.jpg');
    background-size: contain; 
    background-repeat: no-repeat;
}

#img-4 {
    background-image: url('../images/about-us_dad-on-ladder-dealership.png');
    background-size: contain; 
    background-repeat: no-repeat;
}



/* img slider buttons */
.scroll-slider {
    position: absolute;
    height: 50px;
    width: 40px;
    border: none;
    padding: 2px;
    background: none;
    z-index: 5;
    top: 50%;
}

.scroll-l {
    left: 0;
}

.scroll-r {
    right: 0;
}

#Capa_r {
    width: 100%;
    height: 100%;
    transform: rotate(90deg);
    fill: rgba(234, 179, 8, .9);
}

#Capa_l {
    width: 100%;
    height: 100%;
    transform: rotate(270deg);
    fill: rgba(14, 165, 233, .9);
}


/* About - bottom: contact us */
.contactus-bottom-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 150px;
    padding-bottom: 50px;
}

.contus-insd-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contus-insd-wrap > h2 {
    color: rgba(232, 123, 11, .9);
    /* color: rgba(234, 179, 8, .9); */
}

.contactus-bottom-wrap > div {
    /* border: 1px solid black; */
}

.contactus-bottom-wrap > div > h2,
.contactus-bottom-wrap > div > h3 {
    /* border: 1px solid black; */
    text-align: center;
}

.about-botm-btn {
    inset: all;
    border: none;
    /* border: 1px solid black; */
    padding: 5px 10px;
    background: #0369a1;
    /* border-radius: 3px; */
    color: white;
    border: 1px solid black;
}

.about-botm-btn:hover {
    /* background: rgba(3, 105, 161, .9);
    color: rgba(219, 153, 36, 1); */
    /* border-radius: 5px; */
    /* background: #0369a1; */
    color: rgba(219, 153, 36, 1);
}

/* DIVIDER */

.divider-wrap {
    display: flex;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;
    height: 35px;
    min-width: 100%;
}

.divider-spn {
    width: 70%;
    height: 2.5px;
    background: #0369a1;
    /* padding: 2px 5px; */
}

/* FOOTER SECTION */

.index-footer {
    min-height: 400px;
    display: flex;
    justify-content: center;
    /* background: rgba(2, 6, 23, .8); */
    /* background: rgba(217, 119, 6, .7); */
    background: rgba(14, 165, 233, .9);
}
 
.logo-foot-wrap {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-right: 20px;
    padding-left: 20px;
    width: 100%;
}

.foot-contact-left {
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
    max-width: 400px;
}

.foot-contact-left > span {
    font-size: .6rem;
}
 
.footer-logo {
    background-image: url('../images/rwags-logo.png');
    background-size: cover; /* or cover? */
    background-repeat: no-repeat;
    background-color: rgba(234, 179, 8, .9);

    display: block;
    aspect-ratio: 1.53 / 1;
    width: 90%;
    max-width: 400px;
    height: auto;
    border: 1px solid rgba(234, 179, 8, .9);
    border-radius: 5px;
    object-fit: contain;
}

.logo-foot-wrap > div > h2 {
    color: rgba(240, 233, 221, 1);
}

.foot-links {
    display: flex;
    gap: 12px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#phone-number {
    font-size: 2.5rem;
}

#phone-number > a {
    text-decoration: none; /* Removes the underline */
    color: inherit;
}

#phone-number > a:hover {
    color: rgba(219, 153, 36, .8);
}

.foot-link > a {
    text-decoration: none; /* Removes the underline */
    color: inherit;
    /* color: rgba(1, 36, 86, 0.94); */
    color: rgba(219, 153, 36, 1);
    font-size: 1rem;
}

/* MEDIA QUERIES */

/* works for far */
@media screen and (width < 741px) {
    section > .about-cont-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-width: 370px;
        padding-top: 20px;
    }

    #landing-wrap {
        justify-content: end;
    }

    .about-top-sub-cont {
        height: 400px;
    }

    .about-botm-btn:active {
        color: rgba(219, 153, 36, 1);
    }

/* footer */
    .logo-foot-wrap {
        flex-direction: column;
        padding-top: 20px;
        padding-bottom: 30px;
    }

    .foot-contact-left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 30px;
        /* border: 1px solid black; */
    }

    #phone-number {
        margin: 0;
        padding: 5px;
    }

    #phone-number > a:active {
        color: rgba(219, 153, 36, 1);
    }

    .foot-links {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .footer-logo {
        display: block;
        aspect-ratio: 1.53 / 1;
        width: 90%;
        max-width: 400px;
        height: auto;
        border: 1px solid rgba(234, 179, 8, .9);
        border-radius: 5px;
        object-fit: contain;
    }

    /* non-mob-header */
    .top-main {
        display: none;
    }

 /* MOBILE MENU */
    .mobile-header {
        position: absolute;
        top: 0;
        padding-top: 20px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
    }

    .head-logo {
        width: 200px;
        height: 130px;
    }
}

/* @media screen and (width < 401px) { 


} */



/* 767px - 1025px width for lower links */
/* under 767px is dialog corner menu */
