/* contact.css */

:root {
    --ffff-ffff: rgb(1, 1, 1);
}

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    /* background: rgba(240, 233, 221, 1); */
    /* background: #99f6e4; */
    /* background: #dbeafe;
    background: #e0f2fe; */
    /* background: rgba(207, 250, 254, .3); */
    background: #ffe4e6;
    /* background: #f0f9ff; 4 */
    /* background: #a5f3fc; 5  not for contact page */
}

/* MAIN/WRAP */
#about-main-body {
    display: flex;
    flex-direction: column;
}

/* ABOUT TOP LANDING */
#landing-wrap {
    background-image: url('../images/contact-img3.png');
    background-size: cover; /* or contain? */
    background-repeat: no-repeat;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100vh;
    width: 100%;
}

.about-top-sub-cont {
    max-width: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
}


.about-top-sub-cont > h1 {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
    /* border: 1px solid red; */
}

.about-top-sub-cont > h3 {
    /* color: rgba(219, 153, 36, 1); */
    /* color: rgba(234, 179, 8, .9); */
    /* color: rgba(207, 93, 23, .9); */
    /* color: rgba(1, 36, 86, 1); */
    color: rgba(219, 153, 36, 1);
    font-family: Arial, Helvetica, sans-serif;
}


/* HEADER */
.top-main {
    position: absolute;
    width: 100vw;
    height: auto;
    padding-top: 10px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    /* background-color: rgba(219, 153, 36, .3); */
}

.header-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    gap: 5px;

    list-style-type: none;
    margin: 0;
    padding: 0;
}

.head-link-item {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
   
    padding: 8px 8px;
    margin: 0;
    height: min-content;
    /* border: 1px solid black; */
    /* links should be dark blue, with a yellow hover. font should be mild bold. */
};

.head-logo {
    text-decoration: none;
    color: inherit;
}

.head-link-item > a {
    box-sizing: border-box;
    text-decoration: none;
 }

.head-link-item > .unselected {
    color: rgba(1, 36, 86, 1);
    font-size: 20px;
}

.head-link-item > .unselected:hover {
    color: rgba(219, 153, 36, 1);
}

.head-logo {
    background-image: url('../images/rwags-logo.png');
    background-size: contain; /* or contain? */
    background-repeat: no-repeat;
    position: relative;

    width: 150px;
    height: 100px;
}

.head-logo a {
    position: absolute;  /* Positioning the link within the container */
    top: 0;
    left: 0;
    width: 100%; /* Ensures the link covers the full container */
    height: 100%;
    z-index: 10;
}

/* #services {
    border: 1px solid black;
} */

/* DROPDOWN MENU */
#dropdown-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    box-sizing: border-box;
    width: 200px;
    height: auto;
    /* background: rgba(14, 165, 233, .8); */
    background: rgba(1, 36, 86, .9);
    /* border: 1px solid rgba(219, 153, 36, 1); */
    /* rgba(2, 132, 199, */
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    /* transition: opacity 0.4s ease, transform 0.4s ease; /* Transition effects */
    /* transform: translateY(-10px); Initial transform state */
    /* pointer-events: none; */
    z-index: 2;
}

#dropdown-menu > a {
    box-sizing: border-box;
    text-decoration: none;
    padding: 7px;
    color: white;
    z-index: 10;
}

#dropdown-menu > a:hover {
    box-sizing: border-box;
    text-decoration: none;
    color: rgba(219, 153, 36, 1);
}

#dropdown-menu span {
    box-sizing: border-box;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
}

/* HEADER: SELECTED PAGE LINK */

.selected-link {
    color: rgba(219, 153, 36, 1);
    font-size: 23px;
    /* background: rgba(1, 36, 86, .3); */
    background: rgba(14, 165, 233, .4);
    border-radius: 3px;
}

/* CONTACT INFO AREA */

.contact-info-wrap {
    display: flex;
}

section > .contact-info-wrap {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;

    /* border: 1px solid black; */
    height: 400px;
    padding-top: 15px;
}

.info-subwrap {
    /* border: 1px solid black; */
    padding-top: 10px;
    padding-bottom: 30px;
    padding-right: 20px;
    padding-left: 25px;
}

.cont-into-title {
    font-size: 25px;
    height: 50px;
    color: rgba(1, 36, 86, 1);
}

/* upper divider */
.divider-wrap {
    display: flex;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;
    height: 35px;
    min-width: 100%;
}

.divider-spn {
    width: 75%;
    height: 2.5px;
    background: #0369a1;
}
/* ---------- */

.contact-subwrap {
    display: flex;
    /* grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 150px; */
    /* border: 1px solid black; */
}

.cont-into-box {
    /* border: 1px solid green; */
    padding: 15px;
}

.cont-into-box > h3 {
    color: rgba(219, 153, 36, 1);
    font-size: 23px;
    /* color: rgba(1, 36, 86, .9); */
}

.email-num-cont {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    gap: 2px;

}

.cont-into-box p {
    padding: 0;
    margin: 0;
    /* color: rgba(1, 36, 86, 1); */
    color: #0369a1;
    font-size: 16px;
    font-weight: 500;
}

.email-num-cont > p {
    /* border: 1px solid black; */
    border-radius: 5px;
    padding: 6px 8px;
}

.email-num-cont > p:hover {
    border-radius: 5px;
    background: #0369a1;
    color: rgba(219, 153, 36, 1);
}

.email-num-cont a {
    text-decoration: none; /* Removes the underline */
    color: inherit;
    height: 100%;
    width: 100%;
    /* border: 1px solid black;
    border-radius: 5px; */
    /* padding: 5px 5px; */
}

/* divider */
.divider-wrap-lower {
    display: flex;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;
    min-width: 45px;
    /* border: 1px solid black; */
}

.divider-spn-lower {
    width: 2.5px;
    height: 60%;
    /* background: #0f172a; */
    background: rgba(1, 36, 86, 0.94);
    /* padding: 2px 5px; */
}


/* MAP SECTION */
.map-wrap {
    display: flex;
    justify-content: center;
}
/* #goog-map {

} */

.form-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
    padding-bottom: 50px;
}

.form-section-title {
    font-size: 22px;
    /* border: 1px solid black; */
    text-align: center;
    padding: 13px;
}

#contact-form {
    width: 85%;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    gap: 3px;
}

/* .sub-input-group {
    display: flex;
    flex-direction: column;
    border: 1px solid yellow;
    gap: 2px;
} */

.form-input-field {
    border: 1px solid black;
    padding: 7px;
}

.name-group {
    display: flex;
    flex-direction: row;
    border: 1px solid green;
    gap: 8px;
}

#form-submit {
    all: unset;
    border: 1px solid black;
    padding: 8px 35px;
}

#form-submit:hover {
    background: #0369a1;
    color: rgba(219, 153, 36, 1);
}

textarea.form-input-field {
    resize: vertical;
    min-height: 100px;
    max-width: 100%;
}


/* FOOTER SECTION */
.index-footer {
    height: 400px;
    display: flex;
    justify-content: end;
    /* background: rgba(2, 6, 23, .8); */
    /* background: rgba(217, 119, 6, .7); */
    background: rgba(14, 165, 233, .9);
}
 
.logo-foot-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 18px;
    padding-left: 22px;
    width: 100%;
}

.foot-contact-left {
    width: 400px;
}

.foot-contact-left > span {
    font-size: 10px;
}
 
.footer-logo {
    background-image: url('../images/rwags-logo.png');
    background-size: cover; /* or cover? */
    background-repeat: no-repeat;
    background-color: yellow;
    box-sizing: border-box;
    width: 460px;
    height: 300px;
    border: 1px solid black;
    /* border-radius: 125px; */
}

.logo-foot-wrap > div > h2 {
    color: rgba(240, 233, 221, 1);
}

.foot-links {
    display: flex;
    gap: 12px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#phone-number {
    font-size: 40px;
}

#phone-number > a {
    text-decoration: none; /* Removes the underline */
    color: inherit;
}

#phone-number > a:hover {
    color: rgba(219, 153, 36, .8);
}

.foot-link > a {
    text-decoration: none; /* Removes the underline */
    color: inherit;
    /* color: rgba(1, 36, 86, 0.94); */
    color: rgba(219, 153, 36, 1);
    font-size: 15px;
}
 
