/* index.css */

:root {
    --ffff-ffff: rgb(1, 1, 1);
}

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    background: #e0f2fe;
    font-size: 16px;
    /* background: rgba(33, 80, 173, .1); ORIGINAL */
    /* background: rgba(240, 233, 221, 1); */
    /* background: #99f6e4; lean away from*/
    /* background: #dbeafe; */
    /* background: rgba(207, 250, 254, .3); */
    /* background: #ffe4e6; */
    /* background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%); */
    /* background: #f0f9ff; 4 */
    /* background: #a5f3fc; 5  not for contact page */
}


/* TOP LANDING SECTION */
.top-landing-page {
    background-image: url('../images/top_background.jpeg');
    background-size: cover; /* or contain? */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-color: inherit;
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sub-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.top-quote {
    max-width: 500px;
    text-align: center;
    color: rgba(3, 6, 51, 1);
    font-size: 30px;
}

.request-button {
    inset: all;
    border: none;
    box-sizing: border-box;
    cursor: pointer;
    font-family: tahoma;
    font-size: 12px;
    border-radius: 25px;
    padding: 10px 13px;
    color: #EFC506;
    background: rgba(1, 36, 86, 0.8392156862745098);
}

.request-button:hover {
    color: rgba(219, 153, 36, 1);
    background: rgba(33, 80, 173, 1);
}

.top-mid-quote {
    text-align: center;
    color: rgba(3, 6, 51, 1);
    /* font-family: s; */
    font-size: 24px;
    font-weight: 500;
}


/* HEADER */
.top-main {
    position: absolute;
    width: 100vw;
    height: auto;
    padding-top: 10px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    /* background-color: rgba(219, 153, 36, .3); */
}

.header-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    gap: 5px;

    list-style-type: none;
    margin: 0;
    padding: 0;
}

.head-link-item {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
   
    padding: 8px 8px;
    margin: 0;
    height: min-content;
    /* border: 1px solid black; */
    /* links should be dark blue, with a yellow hover. font should be mild bold. */
};

.head-logo {
    text-decoration: none;
    color: inherit;
}

.head-link-item > a,
#nav-srvc-menu a {
    box-sizing: border-box;
    text-decoration: none;
 }

.head-link-item > .unselected,
.head-link-item.unselected {
    color: rgba(1, 36, 86, 1);
    font-size: 20px;
}

.head-link-item > .unselected:hover,
.head-link-item > .unselected:active {
    color: rgba(219, 153, 36, 1);
}

.head-logo {
    background-image: url('../images/rwags-logo.png');
    background-size: contain; /* or contain? */
    background-repeat: no-repeat;
    position: relative;

    width: 150px;
    height: 100px;
}

.head-logo a {
    position: absolute;  /* Positioning the link within the container */
    top: 0;
    left: 0;
    width: 100%; /* Ensures the link covers the full container */
    height: 100%;
    z-index: 10;
}

/* #services {
    border: 1px solid black;
} */

/* DROPDOWN MENU */
#dropdown-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    box-sizing: border-box;
    width: 200px;
    height: auto;
    /* background: rgba(14, 165, 233, .8); */
    background: rgba(1, 36, 86, .9);
    /* border: 1px solid rgba(219, 153, 36, 1); */
    /* rgba(2, 132, 199, */
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    /* transition: opacity 0.4s ease, transform 0.4s ease; /* Transition effects */
    /* transform: translateY(-10px); Initial transform state */
    /* pointer-events: none; */
    z-index: 2;
}

#dropdown-menu > a {
    box-sizing: border-box;
    text-decoration: none;
    padding: 7px;
    color: white;
    z-index: 10;
}

#dropdown-menu > a:hover {
    box-sizing: border-box;
    text-decoration: none;
    color: rgba(219, 153, 36, 1);
}

#dropdown-menu span {
    box-sizing: border-box;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
}

/* MOBILE MENU */
.mobile-header {
    display: none;
    flex-direction: row;
}

.mobile-btn-wrap {
    position: fixed;
    top: 15px;
    left: 15px;

    box-sizing: border-box;
    padding: 0;
    margin: 0;
    z-index: 20;
}

#mobile-nav-btn {
    display: inline-flex;
    align-items: center;  
    justify-content: center;
    padding: 0; 
    width: 35px; 
    height: 35px; 
    border: 1px solid black;
    border-radius: 5px;
    background: rgba(14, 165, 233, .9);
    fill: rgba(234, 179, 8, 1);
    cursor: pointer;
}

/* nav overlay dialog menu */
#mobile-dialog {
    display: none;
    position: fixed; /* Position fixed to cover the whole screen  */
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(1, 36, 86, 0.4);
    backdrop-filter: blur(7px);
    z-index: 1000;
    border: none;
    outline: none;
}

#mobile-dialog > nav {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    /* border: 1px solid red; */
    position: relative;
}

.nav-cls-btn-wrp {
    position: absolute;
    box-sizing: border-box;
    top: 10px;
    right: 10px;
    display: flex;
    justify-content: end;
    /* border: 1px solid pink; */
    /* padding: 3px; */
    width: 100%;
}

.dialog-lnks-wrap {
    /* border: 1px solid black; */
    min-height: 300px;
}

.dialog-lnks-wrap > ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-close-btn {
    display: inline-flex; /* Use flex to center SVG */
    align-items: center;   /* Center vertically */
    justify-content: center; /* Center horizontally */
    padding: 0; /* Remove default padding */
    width: 35px; /* Set desired width */
    height: 35px; /* Set desired height */
    border: 1px solid white;
    border-radius: 5px;
    fill: white;
    background: rgba(1, 1, 1, .4);
    cursor: pointer; /* Change cursor to pointer */
}

.dialog-lnks-wrap .head-link-item > .unselected,
.dialog-lnks-wrap .head-link-item.unselected {
    /* color: rgba(1, 36, 86, 1); */
    color: white;
    font-size: 28px;
    cursor: pointer;
}

.dialog-lnks-wrap .head-link-item > .unselected:hover,
.dialog-lnks-wrap .head-link-item > .unselected:active,
#nav-srvc-menu .unselected:active {
    color: rgba(219, 153, 36, 1);
    font-size: 28px;
}

.dialog-lnks-wrap .head-link-item > .selected-link {
    color: rgba(219, 153, 36, 1);
    font-size: 28px;
    background: inherit;
}

#nav-srvc-menu {
    display: none;
    width: 70%;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    padding-top: 7px;
    padding-bottom: 7px;
    /* border: 1px solid black; */
}

#nav-srvc-menu a {
    color: rgba(219, 153, 36, 1);
    /* background: rgba(1, 36, 86, .3); */
    background: rgba(14, 165, 233, .4);
    border-radius: 5px;
    padding: 4px 10px;
}


/* Serve main Quote */
.sec-quote {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    height: 115px;
}

.serv-main-quote {
    font-size: 30px;
    padding: 10px;
    text-align: center;
    /* color: rgba(16, 28, 86, 1); */
    color: rgba(3, 6, 51, .9);
    letter-spacing: .1rem;
}

/* SERVICES SECTION */
.services-main {
    display: grid;
    grid-template-rows: repeat(4, 300px);
    padding-top: 40px;
    padding-bottom: 40px;
}

.service-wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.subservice-wrap-desc {
    max-width: 350px; 
}

.subservice-wrap-desc > p {
    color: rgba(16, 28, 86, .8);
}

.serv-lrn-butn {
    all: unset;
    border: 1px solid black;
    border-radius: 3px;
    padding: 7px 30px;
    color: rgba(232, 123, 11, 1);
    background: rgba(33, 80, 173, .1);
}

.serv-lrn-butn:hover {
    background: rgba(33, 80, 173, 1);
}

#win-wash-wrap {
    width: 343px;
    height: 260px;
    background: url(../images/dylan-cleanwindow-v1.png);
    background-size: contain; /* or contain? */
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
}

#roofgut-img-wrap {
    width: 334px;
    height: 260px;
    background: url(../images/debris-roof-main_page.png);
    background-size: contain;
    background-repeat: no-repeat;
}

#pwrwash-img-wrap {
    width: 324px;
    height: 260px;
    background: url(../images/power-wash.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
}

#solrp-img-wrap {
    width: 324px;
    height: 260px;
    background: url(../images/new-solar-dylan.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
}

/* quote-request-section */

/* FIX BLACK upperbar */

.quote-request-section {
    background: url(../images/main-page-supp.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    /* transform: rotate(90deg); */
    min-height: 500px;
    /* position: relative; */
}

.req-sec-overlay {
    background: rgba(220, 220, 220, 0.3);
    backdrop-filter: blur(5px);
    width: 100%;
    min-height: 500px;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.req-content-wrap {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 15px;
    padding: 30px;
    padding-top: 25px;
    /* border: 1px solid red; */
    border-radius: 300px;
    max-width: 300px;
    /* background:  rgba(219, 153, 240, .3); */
}

.sub-req-wrp {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 15px;
    min-width: 250px;
    border-radius: 300px;
    min-height: 250px;
    background:  rgba(219, 153, 240, .3);
}

.req-logo-wrap {
    background-image: url('../images/rwags-logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-color: none;

    width: 200px;
    height: 135px;
    /* border: 1px solid red; */
    /* background: rgba(219, 153, 36, .3); */
}

.req-content-wrap  > span {
    font-size: 24px;
    font-weight: 500;
    /* color: rgba(232, 123, 11, 1); */
    color: rgba(1, 36, 86, 1);
}

.req-button {
    all: unset;
    border: 1px solid black;
    /* border-radius: 20px; */
    padding: 7px 20px;
    color: rgba(232, 123, 11, 1);
    background: rgba(33, 80, 173, .7);
    font-size: 16px;
}

.req-button:hover {
    background: rgba(33, 80, 173, 1);
}


/* QUOTE SCROLL SECTION */

#quote-slider-wrap {
    height: 480px;

    display: flex;
    flex-direction: column;
    align-items: center;

}

.divider-wrap {
    display: flex;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;
    height: 35px;
    min-width: 100%;
}

.divider-spn {
    width: 70%;
    height: 2.5px;
    background: rgba(1, 36, 86, 0.94);
}

.slider-title {
    padding: 5px;
    font-size: 30px;
    letter-spacing: .1rem;
}

.slider {
    box-sizing: border-box;
    height: 250px;
    width: 470px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    border: 1px solid black;
    border-radius: 4px;
    background: rgba(33, 80, 173, .1);
    position: relative;
    overflow: hidden;
}

#slide-frame {
    box-sizing: border-box;
    height: 250px;
    width: 470px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 5px;

    border-radius: 4px;
    /* font-size: 1.4vw;
    max-width: 100%; */
}

.quote-slide {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 35px;
    padding-right: 35px;
    
}

.quote-slide span:first-child {
    /* font-size: 1.4vw; */
    letter-spacing: .1rem;
    padding-bottom: 7px;
    width: 390px;
}

.scroll-slider {
    position: absolute;
    height: 50px;
    width: 40px;
    border: none;
    padding: 2px;
    background: none;
    z-index: 5;
}

.scroll-l {
    left: 0;
}

.scroll-r {
    right: 0;
}

#Capa_r {
    width: 100%;
    height: 100%;
    transform: rotate(90deg);
}

#Capa_l {
    width: 100%;
    height: 100%;
    transform: rotate(270deg);
}

/* LOWER INTRO SECTION  */

.intro-wrap {
    min-height: 635px;
    /* border: 1px solid blueviolet; */

    display: grid;
    grid-template-columns: repeat(2, minmax(315px, 415px));
    justify-content: center;
    box-sizing: border-box;
    gap: 20px;
    padding-top: 40px;
    padding-bottom: 100px;
    padding-left: 25px;
    padding-right: 25px;
}

.description-left {
    grid-column: 1 / 2;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 10px;
}

.description-left > h3 {
    margin: 0;
    padding: 0;
    padding-bottom: 10px;
    padding-left: 10px;
}

.description-left > p,
.description-left > h4 {
    line-height: 1.1rem;
    padding: 5px;
    margin: 0;
}

.description-left > p {
    padding-bottom: 15px;
}

.low-intro-title {
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.intro-img-right {
    grid-column: 2 / 3;
    background-image: url(../images/main-page-about.png);
    background-size: contain; /* or contain? */
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    background-color: inherit;

    max-width: 95%;
}

.req-link {
    text-decoration: none;
    cursor: pointer;
}

.contact-lower-button {
    inset: all;
    border: none;
    box-sizing: border-box;
    font-family: tahoma;
    cursor: pointer;
    font-size: 12px;
    border-radius: 3px;
    padding: 10px 30px;
    color: #EFC506;
    background: rgba(1, 36, 86, 0.8392156862745098);
}

.contact-lower-button:hover {
    color: rgba(219, 153, 36, 1);
    background: rgba(33, 80, 173, 1);
}

/* FOOTER SECTION */

.index-footer {
    min-height: 400px;
    display: flex;
    justify-content: center;
    /* background: rgba(2, 6, 23, .8); */
    /* background: rgba(217, 119, 6, .7); */
    background: rgba(14, 165, 233, .9);
}
 
.logo-foot-wrap {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-right: 20px;
    padding-left: 20px;
    width: 100%;
}

.foot-contact-left {
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
    max-width: 400px;
}

.foot-contact-left > span {
    font-size: .6rem;
}
 
.footer-logo {
    background-image: url('../images/rwags-logo.png');
    background-size: cover; /* or cover? */
    background-repeat: no-repeat;
    background-color: rgba(234, 179, 8, .9);

    display: block;
    aspect-ratio: 1.53 / 1;
    width: 90%;
    max-width: 400px;
    height: auto;
    border: 1px solid rgba(234, 179, 8, .9);
    border-radius: 5px;
    object-fit: contain;
}

.logo-foot-wrap > div > h2 {
    color: rgba(240, 233, 221, 1);
}

.foot-links {
    display: flex;
    gap: 12px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#phone-number {
    font-size: 2.5rem;
}

#phone-number > a {
    text-decoration: none; /* Removes the underline */
    color: inherit;
}

#phone-number > a:hover {
    color: rgba(219, 153, 36, .8);
}

.foot-link > a {
    text-decoration: none; /* Removes the underline */
    color: inherit;
    /* color: rgba(1, 36, 86, 0.94); */
    color: rgba(219, 153, 36, 1);
    font-size: 1rem;
}


/* MEDIA QUERIES */

/* works for far */
@media screen and (width < 741px) {
    /* section > .about-cont-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-width: 310px;
        padding-top: 20px;

    } */

    #top-landing-page {
        justify-content: end;
    }

    .sub-content {
        height: 50%;
    }

/* footer */
    .logo-foot-wrap {
        flex-direction: column;
        padding-top: 20px;
        padding-bottom: 30px;
    }

    .foot-contact-left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 30px;
        /* border: 1px solid black; */
    }

    #phone-number {
        margin: 0;
        padding: 5px;
    }

    #phone-number > a:active {
        color: rgba(219, 153, 36, 1);
    }

    .foot-links {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .footer-logo {
        display: block;
        aspect-ratio: 1.53 / 1;
        width: 90%;
        max-width: 400px;
        height: auto;
        border: 1px solid rgba(234, 179, 8, .9);
        border-radius: 5px;
        object-fit: contain;
    }

/* non-mobile-header */
    .top-main {
        display: none;
    }

 /* MOBILE NAV MENU */
    .mobile-header {
        position: absolute;
        top: 0;
        padding-top: 20px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
    }

    .head-logo {
        width: 200px;
        height: 130px;
    }
}

@media screen and (width < 401px) { 


    /* equvalent would be sub-content */
    section > .about-cont-wrap {
        padding-right: .5rem;
        padding-left: .5rem;
        border: 1px solid red;
    }

    /* header  */
    .foot-link > a {
        font-size: .8rem;
    }

    #phone-number {
        font-size: 2.1rem;
    }

}



/* 767px - 1025px width for lower links */
/* under 767px is dialog corner menu */

