/* services.css */

:root {
    --ffff-ffff: rgb(1, 1, 1);
}

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    background: rgba(245, 224, 224, 1);
}


/* MAIN/WRAP */
#about-main-body {
    display: flex;
    flex-direction: column;
}

/* ABOUT TOP LANDING */
#landing-wrap,
#landing-wrap-winwash {
    /* position: relative;
    top: 0; */
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 500px;
    width: 100%;
}

#landing-wrap-winwash {
    background-image: url('../images/top_background.jpeg');
    background-size: cover; /* or contain? */
    background-attachment: fixed;
    background-repeat: no-repeat;
    /* background-color: inherit; */
}

.about-top-sub-cont {
    /* padding-top: 50px; */
    max-width: 400px;
    /* border: 1px solid red; */
    text-align: center;

    display: flex;
    flex-direction: column;
}

.about-top-sub-cont > h1 {
    color: rgba(3, 6, 51, 1);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 60px;
    padding-top: 10px;
    padding-bottom: 0px;
    margin: 0;
    /* border: 1px solid red; */
}

.about-top-sub-cont > h3 {
    /* color: rgba(219, 153, 36, 1); */
    /* color: rgba(234, 179, 8, .9); */
    /* color: rgba(207, 93, 23, .9); */
    /* color: rgba(1, 36, 86, 1); */
    color: rgba(219, 153, 36, 1);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    margin: 0;
    padding-top: 10px;
}


/* HEADER */
.top-main {
    position: absolute;
    width: 100vw;
    height: auto;
    padding-top: 10px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    /* background-color: rgba(219, 153, 36, .3); */
}

.header-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    gap: 5px;

    list-style-type: none;
    margin: 0;
    padding: 0;
}

.head-link-item {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
   
    padding: 8px 8px;
    margin: 0;
    height: min-content;
    /* border: 1px solid black; */
    /* links should be dark blue, with a yellow hover. font should be mild bold. */
};

.head-logo {
    text-decoration: none;
    color: inherit;
}

.head-link-item > a {
    box-sizing: border-box;
    text-decoration: none;
 }

.head-link-item > .unselected {
    color: rgba(1, 36, 86, 1);
    font-size: 20px;
}

.head-link-item > .unselected:hover {
    color: rgba(219, 153, 36, 1);
}

.head-logo {
    background-image: url('../images/rwags-logo.png');
    background-size: contain; /* or contain? */
    background-repeat: no-repeat;
    position: relative;

    width: 150px;
    height: 100px;
}

.head-logo a {
    position: absolute;  /* Positioning the link within the container */
    top: 0;
    left: 0;
    width: 100%; /* Ensures the link covers the full container */
    height: 100%;
    z-index: 10;
}

/* #services {
    border: 1px solid black;
} */

/* DROPDOWN MENU */
#dropdown-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    box-sizing: border-box;
    width: 200px;
    height: auto;
    /* background: rgba(14, 165, 233, .8); */
    background: rgba(1, 36, 86, .9);
    /* border: 1px solid rgba(219, 153, 36, 1); */
    /* rgba(2, 132, 199, */
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    /* transition: opacity 0.4s ease, transform 0.4s ease; /* Transition effects */
    /* transform: translateY(-10px); Initial transform state */
    /* pointer-events: none; */
    z-index: 2;
}

#dropdown-menu > a {
    box-sizing: border-box;
    text-decoration: none;
    padding: 7px;
    color: white;
    z-index: 10;
}

#dropdown-menu > a:hover {
    box-sizing: border-box;
    text-decoration: none;
    color: rgba(219, 153, 36, 1);
}

#dropdown-menu span {
    box-sizing: border-box;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
}

/* HEADER: SELECTED PAGE LINK */

.selected-link {
    color: rgba(219, 153, 36, 1);
    font-size: 23px;
    /* background: rgba(1, 36, 86, .3); */
    background: rgba(14, 165, 233, .4);
    border-radius: 3px;
}

/* SERVICE SECTION */
/* 
section > .service-section-wrap {
    height: 700px;
}

.service-section-wrap {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.srv-sec {
    display: flex;
    justify-content: center;
    border: 1px solid black;
    font-size: 25px;
    margin: 0;
}

.img-desc-wrap {
    display: flex;
    gap: 20px;
}

.img-desc-wrap > p {
    max-width: 300px;
    /* padding: 20px;
}


/* ABOUT INFO */

#service-mid-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-around; */
    padding-top: 30px;
    padding-bottom: 20px;
}

.about-cont-wrap {
    /* border: 1px solid red; */
}

section > .about-cont-wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* grid-template-columns: repeat(2, minmax(250px, 400px)); */
    /* grid-template-rows: 1fr; */
    /* align-items: center;
    justify-items: center; */
    
    min-height: 430px; /* ADJUST THIS LATER with more content */
    max-height: max-content;
    min-width: 550px;
    max-width: 100%;
    /* border: 1px solid red; */
    gap: 5px;
    padding-top: 40px;
    padding-right: 15px;
}

.content-left-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 375px;
    padding-right: 20px;
    padding-left: 12px;
    /* border: 1px solid red; */
}

.content-left-wrap > h4 {
    color: rgba(16, 28, 86, 1);
    /* color: #1d4ed8; */
}


.content-left-wrap > h2,
.content-left-wrap > p {
    padding-top: 0;
    margin: 0;
}

.content-left-wrap > p {
    padding-top: 10px;
    font-weight: 500;
    color: rgba(16, 28, 86, .8);
    padding-bottom: 20px;
    /* border: 1px solid red; */
}

.about-slider-right {
    background-image: url('../images/window-cleaners.png');
    background-size: contain; /* or contain? */
    background-repeat: no-repeat;

    min-width: 350px;
    max-width: 500px;
    height: 380px;
    /* border: 1px solid red; */
}

.benefits-title {
    letter-spacing: .1rem;
}

.serv-lower-title {
    /* border: 1px solid black; */
    text-align: center;
    padding: 10px;
    margin: 0;
    font-size: 23px;
    color: rgba(3, 6, 51, .9);
    letter-spacing: .1rem;
}


.contact-button {
    all: unset;
    border: 1px solid black;
    border-radius: 3px;
    padding: 7px 30px;
    color: rgba(232, 123, 11, 1);
    background: rgba(33, 80, 173, .1);
}

.contact-button:hover {
    background: rgba(33, 80, 173, 1);
}

.content-left-wrap > a {
    text-decoration: none; /* Removes the underline */
    color: inherit;
}

.points-desc-wrap {
    display: flex;
    padding: 10px;
    /* border: 1px solid black; */
}

.serv-point-wrap {
    width: 200px;
    /* border: 1px solid black; */
    padding-left: 5px;
}

.serv-point-wrap > h4 {
    color: rgba(16, 28, 86, 1);
}

.serv-point-wrap > p {
    font-size: 15px;

}

/* dividers */

.divider-wrap {
    display: flex;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;
    min-width: 45px;
    /* border: 1px solid black; */
}

.divider-spn {
    width: 2.5px;
    height: 60%;
    /* background: #0f172a; */
    background: rgba(1, 36, 86, 0.94);;
    /* padding: 2px 5px; */
}



/* FOOTER SECTION */

.index-footer {
    height: 400px;
    display: flex;
    justify-content: end;
    /* background: rgba(2, 6, 23, .8); */
    /* background: rgba(217, 119, 6, .7); */
    background: rgba(14, 165, 233, .9);
}
 
.logo-foot-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 18px;
    padding-left: 22px;
    width: 100%;
}

.foot-contact-left {
    width: 400px;
}

.foot-contact-left > span {
    font-size: 10px;
}
 
.footer-logo {
    background-image: url('../images/rwags-logo.png');
    background-size: cover; /* or cover? */
    background-repeat: no-repeat;
    background-color: rgba(234, 179, 8, .9);
    /* background-color: rgba(234, 88, 12, .8); */
    box-sizing: border-box;
    width: 460px;
    height: 300px;
    border: 1px solid black;
    /* border-radius: 125px; */
}

.logo-foot-wrap > div > h2 {
    color: rgba(240, 233, 221, 1);
}

.foot-links {
    display: flex;
    gap: 12px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#phone-number {
    font-size: 40px;
}

#phone-number > a {
    text-decoration: none; /* Removes the underline */
    color: inherit;
}

#phone-number > a:hover {
    color: rgba(219, 153, 36, .8);
}

.foot-link > a {
    text-decoration: none; /* Removes the underline */
    color: inherit;
    /* color: rgba(1, 36, 86, 0.94); */
    color: rgba(219, 153, 36, 1);
    font-size: 15px;
}
